<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <title>
        {% block titulo %}
        Site em Flask
        {% endblock %}
    </title>
</head>
<body>

{% block body%}
<h1>Site criado com framework Flask no AR.</h1>

{% block formulario%}
<form method="POST">
    {{ form.csrf_token }}

    {{ form.email.label() }}
    {{ form.email() }}

    {{ form.senha.label() }}
    {{ form.senha() }}

    {{ form.botao_confirmacao() }}

</form>
{% endblock %}

</body>
{% endblock %}
</html>