{% extends "homepage.html" %}

{% block titulo %}
::: Meu Perfil ::: {{ usuario }}
{% endblock %}

{% block body %}
<body>


<h1>Página de perfil : {{ usuario.username }}</h1>

{% if form %}
<form method="post" enctype="multipart/form-data">
    {{ form.csrf_token }}

    {{ form.foto() }}
    {{ form.botao_confirmacao() }}

</form>
{% endif%}



<a href="{{ url_for('logout') }}">Logout</a>

<img src="{{ url_for('static',filename='fotos_posts/default.png')}}">

{% for foto in usuario.fotos%}

{% endfor %}

</body>
{% endblock %}